<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure><a href="#"><img src="../../assets/resermed__2_.png" alt="logo"></a></figure>
        </div> 
        <div class="box">
            <h2>Servicios</h2>
            <a href="#"><p>Quiénes somos</p></a>
            <a href="#"><p>Contacto</p></a>
            <a href="#"><p>Términos y condiciones</p></a>
            <a href="#"><p>Preguntas Frecuentes</p></a>
        </div>
        <div class="box">
            <h2>Redes Sociales</h2>
            <div>
                <a href="#" class="red"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="red"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="red"><i class="fa-brands fa-youtube"></i></a>
                <a href="#" class="red"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023, <b>ReserMed</b> - Todos los derechos Reservados</small>
    </div>
</footer>