$font: 'Nunito',sans-serif;

.wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.search-content {
    font-family: $font;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchBar {
    width: 40rem;
    background-color: white;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#inputSearch {
    border: 0;
    outline: none;
    background: transparent;
    flex: 1;
    padding: 10px 16px;
    font-family: $font;

} 

#inputSearch:focus-visible {
    box-shadow: none;
}


#btnSearch {

    background-color: #6dc9b7;
    padding: 20px;
    border-radius: 40px;
    border-style: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    cursor: pointer;

}

.searchButton {
    transition: opacity 0.10s ease-in-out;

}

.searchButton:hover {
    opacity: 0.8;
}

.espec{
    margin-top: 7%;
}

.list {
    margin-top: 7%;
    margin-right: 200px;
    margin-left: 200px;
    background-color: #f7f7f7;
    border-radius: 10px;
    ul {
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
            padding: 1vh;
            font-family: $font;
            font-size: 15px;

            a {
                text-decoration: none;
                color: black;
                transition: all 300ms ease;
            }

            a:hover {
                color: #6dc9b7;
            }
        }
    }
}

.tittle{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    h3{
        display: inline-block;
        font-family: $font;
        font-size: 15px;
        a{
            text-decoration: none;
            color: teal;
        }

        a:hover{
            color: #6dc9b7;
            text-decoration: underline;
        }
    }
}


.cards {
    display: flex;
    background-color: #f7f7f7;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 150px;
}

.card {
    margin-right: 15px;
    margin-left: 15px;

    div {
        h3 {
            font-family: $font;
            font-size: 15px;

            a {
                text-decoration: none;
                color: black;
                transition: all 300ms ease;
            }

            a:hover {
                color: #6dc9b7;
            }
        }
        p{
            font-family: $font;
            text-align: justify;
            font-size: 15px;
        }
    }
}

.list-off {
    display: none;
}

.fullList {
    display: none;
}

.fullList-show {
    display: inline;

    ul {
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
            padding: 1vh;
        }
    }
}


@media screen and (max-width: 800px) {
    .search-content {
        font-family: $font;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .searchBar {
        input::placeholder {
            opacity: 0;
        }
        width: 18rem;
    }

    .list {
        margin-top: 30%;
        margin-right: 15px;
        margin-left: 15px;
        background-color: #f7f7f7;
        border-radius: 10px;
        ul {
            padding: 0;
            text-align: center;
    
            li {
                display: inline-block;
                padding: 7px;
                font-family: $font;
                font-size: 15px;
    
                a {
                    text-decoration: none;
                    color: black;
                    transition: all 300ms ease;
                }
    
                a:hover {
                    color: #6dc9b7;
                }
            }
        }
    }

    .tittle{
        margin-top: 30%;
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        justify-content: space-between;
        
        h3{
            display: inline-block;
            font-family: $font;
            font-size: 15px;
            a{
                text-decoration: none;
                color: black;
            }
            a:hover{
                color: #6dc9b7;
            }
        }
    }

    .cards {
        display: flex;
        background-color: #f7f7f7;
        border-radius: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .card {
        margin-right: 15px;
        margin-left: 15px;
    
        div {
            h3 {
                font-family: $font;
                font-size: 15px;
    
                a {
                    text-decoration: none;
                    color: black;
                    transition: all 300ms ease;
                }
    
                a:hover {
                    color: #6dc9b7;
                }
            }
            p{
                font-family: $font;
                text-align: justify;
                font-size: 15px;
            }
        }
    }
    .cardoff{
        display: none;
    }
}